<h1>投稿一覧</h1>


<% @services.each do |service| %>
  <div class="col-md-4">
    <div class="card" style="card mb-4 shadow-sm">
      <%= link_to service_path(service) do %>
        <%= attachment_image_tag service, :image, size:17*17 %>
      <% end %>
      <div class="card-body">
        <h4 class="card-title">サービス名：<%= service.title %></h4>
        <h5 class="card-text">機器：<%= service.device%></h5>
        <p class="card-text">コメント：<%= service.body %></p>
        <p class="card-text">投稿日時：<%= service.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
        投稿者：
        <%= link_to user_path(service.user.id) do %>
          <%= service.user.username %></a>さん
        <% end %>         
      </div>
    </div>  
  </div>
<% end %>  

