<h1>投稿一覧</h1>


<% @services.each do |service| %>
  <%= link_to service_path(service) do %>
    <%= attachment_image_tag service, :image, size:10*10 %><br>
  <% end %>
  
  サービス名：<%= service.title %><br>
  <%= link_to user_path(service.user.id) do %>  
    投稿者：<%= service.user.username %><br>
  <% end %>
  機器：<%= service.device%><br>
  投稿日時：<%= service.updated_at.strftime("%Y-%m-%d %H:%M") %><br>

<% end %>
