<h1>サービス内容</h1>

<% if @service.errors.any? %>
  <h2><%= pluralize(@service.errors.count, "error" )%> prohibited this object from being saved: not successfully</h2>
  <ul>
    <% @service.errors.full_messages.each do |message| %>
      <li><%= message %></li> 
    <% end %>
  </ul>
<% end %>

<%= form_for @service do |f| %>
  <%= f.label :title, "サービス名" %>
  <%= f.select :title, [["データ復旧", "データ復旧"], ["パソコン修理", "パソコン修理"], ["スマホ修理", "スマホ修理"], ["タブレット修理", "タブレット修理"]], include_blank: "選択して下さい" %><br>

  <%= f.label :company, "会社名" %>
  <%= f.select :company, [["デジタルデータリカバリー", "デジタルデータリカバリー"], ["オントラック", "オントラック"], 
                        ["ライブデータ", "ライブデータ"], ["AOS", "AOS"], ["ウィンゲット", "ウィンゲット"], 
                        ["PCエコ", "PCエコ"], ["データレスキュー", "データレスキュー"], ["ロジテック", "ロジテック"]], 
                        include_blank: "選択して下さい" %><br>

  <%= f.label :device, "機種名" %>
  <%= f.select :device, [["ノートPC", "ノートPC"], ["外付けHDD", "外付けHDD"], 
                        ["デスクトップPC", "デスクトップPC"], ["サーバー", "サーバー"], ["NAS", "NAS"], 
                        ["スマホ", "スマホ"], ["SDカード", "SDカード"], ["USBメモリ", "USBメモリ"], 
                        ["SSD", "SSD"]], 
                        include_blank: "選択して下さい" %><br>

  <%= f.label :problem, "症状" %>
  <%= f.select :problem, [["データ削除", "データ削除"], ["機器が立ち上がらない", "機器が立ち上がらない"], 
                        ["ブルースクリーン", "ブルースクリーン"]], 
                        include_blank: "選択して下さい" %><br>

  <%= f.label :price, "金額" %>
  <%= f.select :price, [["〜9,999円", "〜9,999円"], ["10,000円〜29,999円", "10,000円〜29,999円"], 
                        ["10,000円〜29,999円", "10,000円〜29,999円"], ["10,000円〜29,999円", "10,000円〜29,999円"], 
                        ["30,000円〜49,999円", "30,000円〜49,999円"], ["50,000円〜79,999円", "50,000円〜79,999円"], 
                        ["80,000円〜99,999円", "80,000円〜99,999円"], ["100,000円〜149,999円", "100,000円〜149,999円"], 
                        ["150,000円〜199,999円", "150,000円〜199,999円"], ["200,000円〜299,999円", "200,000円〜299,999円"], 
                        ["300,000円〜499,999円", "300,000円〜499,999円"], ["500,000円〜, 500,000円〜"]],
                        include_blank: "選択して下さい" %><br>

  <%= f.label :days, "納品までの日数" %>
  <%= f.select :days, [["〜1日", "〜1日"], ["2日〜3日", "2日〜3日"],  ["4日〜5日", "4日〜5日"], 
                        ['6日〜10日', '6日〜10日'], ["11日〜20日", "11日〜20日"],  ["21日〜30日", "21日〜30日"],
                        ["31日以上", "31日以上"]],
                        include_blank: "選択して下さい" %><br>

  <%= f.label :result, "結果" %>
  <%= f.select :result, [["成功", "成功"], ["失敗", "失敗"]],  
                        include_blank: "選択して下さい" %><br>

  <%= f.label :body, "コメント" %>
  <%= f.text_area :body, class:"input" %><br>

  <%= f.label :image, "画像" %>
  <%= f.attachment_field :image, class:"input"%><br>

  <%= f.submit "投稿", class:"btn btn-primary" %><br>
<% end %>
