<h1>データ復旧詳細</h1>


<div class="card mb-5" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-5">
      <%= attachment_image_tag @service, :image, size:20*20 %>
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">サービス名：<%= @service.title %></h5>
        <p class="card-text">会社名：<%= @service.company %></p>
        <p class="card-text">機種：<%= @service.device %></p>
        <p class="card-text">症状：<%= @service.problem %></p>
        <p class="card-text">金額：<%= @service.price %></p>
        <p class="card-text">納品までの日数：<%= @service.days %></p>
        <p class="card-text">結果：<%= @service.result %></p>
        <p class="card-text">コメント：<%= @service.body %></p>
        <p class="card-text">投稿者：<%= @service.user.username %></p>
        <p class="card-text"><small class="text-muted">投稿日時：<%= @service.updated_at.strftime("%Y-%m-%d %H:%M")%></small></p>
      </div>
    </div>
  </div>
</div>


<% if @service.user.id == current_user.id  %>
  <%= link_to "編集", edit_service_path(@service), class:"btn btn-primary" %>
<% end %>

<%= link_to user_path(@service.user) do %>
  <%= @service.user.username %> 
<% end %>
さんのページへ


<div class="comment-wrapper border-top　mb-10">
  <p class="mt-5">コメント一覧</p>
  <% @comments.each do |c| %>
   
      <%= c.content %>
      
    
  <% end %>
  <% if user_signed_in? %>
    <%= form_with(model: [@service, @comment], local: true) do |f| %>
      <%= f.text_area :content, class:"form-control", rows:5 %>
      <%= button_tag type: "submit", class:"btn btn-success float-right mt-1" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>

