<h1>ユーザーページ</h1>

<div class="card mb-5" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png", size: "300x300"%>
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">名前：<%= @user.username %></h5>
        <p class="card-text">メールアドレス：<%= @user.email %></p>
        <p class="card-text">コメント：<%= @user.profile %></p>
          <% if @user.id == current_user.id %>
            <%= link_to "ユーザー情報編集", edit_user_path(@user), class:"btn btn-primary" %>
          <% end %>
      </div>
    </div>
    <h4>投稿内容</h4>
    <% @user.services.each do |service| %>
      <div class="col-md-4">
        <div class="card-body">
          <%= link_to service_path(service) do%>
            <%= attachment_image_tag service, :image, size:10*10 %>
          <% end %>
          <h5 class="card-title"><%= service.updated_at.strftime("%Y-%m-%d %H:%M") %>更新</h5>
          <p class="card-text"><%= link_to "詳細", service_path(service) %></p>
          <% if @user.id == current_user.id %>
          <%= link_to "編集", edit_service_path(service) %>
            <%= link_to "削除", service_path(service), method: :delete, data:{confirm:"削除しますか？"} %><br>
          <% end %>
        </div>
      </div>
    <% end %> 
  </div>
</div>

 


