<!DOCTYPE html>
<html>
  <head>
    <title>PortforlioApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p> 
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-info">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    
    <%= link_to root_path, class:"navbar-item" do %>
      <h1 class="title">データ復旧シェアサービス</h1>
    <% end %>


    <% if user_signed_in? %>
      <%= link_to "投稿一覧", services_path, class:"btn btn-primary" %>
      <%= link_to "新規投稿", new_service_path, class:"btn btn-primary" %>
      <%= link_to "ユーザー一覧", users_path, class:"btn btn-primary" %>
      <%= link_to "マイページ", user_path(current_user), class:"btn btn-primary" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-primary" %>
    <% else %>
      <%= link_to "ユーザー一覧", users_path, class:"btn btn-primary" %>
      <%= link_to "ログイン", new_user_session_path, class:"btn btn-primary" %>
      <%= link_to "新規登録", new_user_registration_path, class:"btn btn-primary" %>
      <%= link_to "投稿一覧", services_path, class:"btn btn-primary" %>
    <% end %>
      

    <%= yield %>
  </body>
</html>
